  .bookDiv {
    display: inline-block;
    border: 4px #D89C99 solid;
    color: #262625;
    font-size: 14px;
}

  .bookImg {
    display: block;
    height: 300px;

}

  .genreDiv {
    border: 4px solid black;
}

  .logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
}

body {
  height: 100%;
  background-size: auto;
  background-position: center center;
  background-image: url("../static/bookcase_t.jpg")

}

div.container h1 {
  color: #4A4948;
  font-weight: bold;
}

div.col{
  color: #D89C99;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

.navbar-text {
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
}

.search-text{
  font-size: 30px;
}

.btn-link, .link {
  color: #159460;
}

#book-genres #rating-form {
  font-size: 25px;

}

/*autocomplete search styling*/

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white;
    /*url('../static/loading.gif') right center no-repeat;*/
}

/* scroll results */
.ui-autocomplete {
    background: white;
    max-height: 250px;
    max-width: 270px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}

.ui-autocomplete li {
    font-size: 16px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 250px;
}
