{% extends 'base.html' %}

{% block title %} All Books {% endblock %}

{% block content %}

    <div class="title">
    <h2>Books</h2>
    </div>
    <div class="search-box">
        Search for a book title:<input name="autocomplete" type="text" id="autocomplete"/>
    </div>
    <div class="review-link">
    <a href="/reviews">How are these books reviewed?</a>
    </div>
      {% for book in books %}
      <div class="bookDiv">
          {{ book.title }}
          <br>
          {{ book.author }}
          <br>
          Average Goodreads Rating: {{ book.avg_rating }}
          <br>
          Rate this book <a href="/books/{{ book.book_id }}">here</a>
          <br>
          <img class="bookImg" src={{ book.pic_url}}>
          <br>
      </div>
      {% endfor %}

{% endblock %}
