{% extends 'base.html' %}

{% block title %} All Genres {% endblock %}

{% block content %}

<div class="genres-chart">
  <canvas id="genreChart"></canvas>
  <div id="genreLegend" class="chart-legend"></div>
<div>

    <h2>Genres</h2>
      {% for genre in genres %}
      <div class="genreDiv">
          <strong>{{ genre.name }}</strong>
          <br>
          {% for book in genre.books %}
          <div class="bookDiv">
            {{ book.title }}
            <br>
            Rate this book <a href="/books/{{ book.book_id }}">here</a>
            </div>
            {% endfor %}
      </div>
      {% endfor %}



{% endblock %}
