{% extends 'base.html' %}

{% block title %} All Books {% endblock %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
    <h1 class="title">Books</h1>
    </div></div>
    <div class="search-box container">
        <h3 class="search-text">Search for a book title:</h3><input name="autocomplete" type="text" class="form control input-lg" id="autocomplete"/>
    </div>
    <br><br>

      {% for book in books %}
      <div class="bookDiv" class="container">
        <div class="panel panel-default">
        <div class="panel-body">
          {{ book.title }}
          <br>
          {{ book.author }}
          <br>
          Average Goodreads Rating: {{ book.avg_rating }}
          <br>
          Rate this book <button type="button" class="btn btn-default"><a class='link' href="/books/{{ book.book_id }}">here</a></button>
          <br>
          <img class="bookImg" src={{ book.pic_url}}>
          <br>
      </div></div></div>
      {% endfor %}

{% endblock %}
