<!doctype html>
<html>
<head>
  <title>{% block title %} TITLE GOES HERE {% endblock %}</title>

<!--   imports bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
<!--   imports local stylesheet -->
  <link href="/static/stylesheet.css" rel="stylesheet">
<!--   imports Open Sans google font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  <style>
  </style>
</head>

<body>

    <header class="header" role="banner">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        <img class="logo" alt="owl with book logo" src="/static/img/owl-book-172.svg">
        </a>
        <!-- <p class="navbar-text">Novel Idea</p> -->
    <nav class="navbar navbar-right">

          {% if 'email' in session %}
            <button type="button" class="btn btn-default navbar-btn"><a class= "btn-link" href="/users/{{user.user_id}}">Your Profile</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a class= "btn-link" href="/logout">Log Out</a></button>
          {% else %}
            <button type="button" class="btn btn-default navbar-btn"><a class= "btn-link" href="/login">Log In</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a class= "btn-link" href="/register">Register</a></button>
          {% endif %}
    </nav>
    </div>
    </header>

<!-- Show flashed messages -->
    <div class="messages">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="alert alert-warning">{{ message }}
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
      {% endfor %}
    {% endwith %}
    </div>

  {% block content %} CONTENT GOES HERE {% endblock %}

<!-- imports jquery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- imports jquery autofill  -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- imports local jquery autofill html extension -->
<script type="text/javascript" src="/static/jquery_autocomplete_html.js"></script>
<!-- imports local ajax file -->
<script src="/static/ajax.js"></script>
<!-- imports chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
<!-- imports bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

{% block scripts %} {% endblock %}
</body>
</html>


