<!doctype html>
<html>
<head>
  <title>{% block title %} TITLE GOES HERE {% endblock %}</title>
  <style>

    .bookDiv {
      display: inline-block;
    }

    .bookImg {
      display: block;
    }

    </style>
</head>

<body>

    <div class="container">

    <!-- Show flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}
    </div>

    <div id="logout">

        <form action="/logout">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div><a href="/">Homepage</a></div>
  </div>

  {% block content %} CONTENT GOES HERE {% endblock %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/ajax.js"></script>

</body>
</html>


