<!doctype html>
<html>
<head>
  <title>{% block title %} TITLE GOES HERE {% endblock %}</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
  <link href="/static/stylesheet.css" rel="stylesheet">

  <style>
  </style>
</head>

<body>

    <header class="header" role="banner">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        <img class="logo" alt="owl with book logo" src="/static/owl-book-128.svg">
        </a>
    <nav class="navbar nav-left">
      <p class="navbar-text">Novel Idea</p>
          {% if "email" in session %}
            <button type="button" class="btn btn-default navbar-btn"><a href="/users/{{user.user_id}}">Your Profile</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a href="/logout">Log Out</a></button>
          {% else %}
            <button type="button" class="btn btn-default navbar-btn"><a href="/login">Log In</a></button>
            <button type="button" class="btn btn-default navbar-btn"><a href="/register">Register</a></button>
          {% endif %}
    </nav>
    </div>
    </header>

{% block flash %} {% endblock %}

  {% block content %} CONTENT GOES HERE {% endblock %}

<!-- imports jquery -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!-- imports jquery autofill  -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- imports local ajax file -->
<script src="/static/ajax.js"></script>
<!-- imports chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
<!-- imports bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>

{% block scripts %} {% endblock %}

</body>
</html>


