{% extends 'base.html' %}


{% block title %} Book Details Page {% endblock %}


{% block content %}
<hr>
<br>
Book title: {{ book.title }}
<br>
<br>
Author name: {{ book.author }}
<br>
<br>
Average rating on Goodreads: {{book.avg_rating}}
<br>
<p> Summary: {{book.summary}} </p>
<img class="bookImg" src={{ book.pic_url}}>
<br><br>
{%if book.genres %}
<a href = "/genres">Genres:</a>
<div>
    <ul>
        {% for genre in book.genres %}
        <li>{{genre.name}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if rating %}
You have given this book a {{rating.score}}
{% endif %}
<br><br>
<a href = "/books">Go back to main books page</a>
<br>
<br>
<form action="/rate" method=POST>
  Enter your rating as a number from 1 to 5, where 1 is the lowest score:<br>
  <input type="text" name="score">
  <input type="hidden" name="book" value={{ book.book_id }}>
  <input type="submit" value="Submit">
</form>


{% endblock %}
