{% extends 'base.html' %}


{% block title %} Book Details Page {% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
  <div class="panel-body">

<img class="bookImg" src={{ book.pic_url}}>

<h2 class="title">{{ book.title }}</h2>

<h2 class="title">by {{ book.author }}</h2>

<p class="subtitle">Average rating on Goodreads: {{book.avg_rating}} stars</p>

<p class="summary">{{book.summary}}</p>

</div></div></div>

<div class="col-md-4">
{%if book.genres %}
<button type="button" class="btn btn-default"><a class="link" href = "/genres">Genres:</a></button>
<div class="panel panel-default">
  <div class="panel-body">
    <ul id="book-genres">
        {% for genre in book.genres %}
        <li>{{genre.name}}</li>
        {% endfor %}
    </ul></div></div>

{% endif %}
<button type="button" class="btn btn-default"><a class="link" href="/books">Go back to main books page</a></button>
</div>
<div class="col-md-4">
<button type="button" class="btn btn-default"><a class="link" href = "/reviews">Reviews:</a></button>
{% if rating %}
<div class="panel panel-default">
  <div class="panel-body">
    <h3>You have given this book a {{rating.score}}</h3>
    </div></div>
{% endif %}
<div class="panel panel-default">
<div class="panel-body">
<form class="rating-form" action="/rate" method=POST>
<div class="form-group">
  <label for="sel1"><p>Enter your rating as a number from 1 to 5, where 1 is the lowest score</p></label>
  <select class="form-control" name='score' id="sel1">
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
  </select>
  <input type="hidden" name="book" value={{ book.book_id }}>
  <input type="submit" value="Submit">
</div>
</form>
</div></div>
<!-- <form class="rating-form" action="/rate" method=POST>
  Enter your rating as a number from 1 to 5, where 1 is the lowest score:<br>
  <input type="text" name="score">
  <input type="hidden" name="book" value={{ book.book_id }}>
  <input type="submit" value="Submit">
</form> -->
</div></div><div>


{% endblock %}
