{% extends 'base.html' %}


{% block title %} Homepage {% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

<h1 class="title">Novel Idea</h1>
<p class="subtitle">The perfect app to help you BOOK up your weekend!</p>

</div></div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="subtitle">Books</h2>
      <button type="button" class="btn btn-default"><a class="link" href="/books">View all books</a></button>
    </div>
<!-- <h2>Users</h2>
<p><a href="/users">View all users</a></p> -->

    <div class="col-md-4">
      <h2 class="subtitle">Genres</h2>
      <button type="button" class="btn btn-default"><a class="link" href="/genres">View genre breakdown</a></button>
    </div>

    <div class="col-md-4">
      <h2 class="subtitle">Reviews</h2>
    <button type="button" class="btn btn-default"><a class = "link" href="/reviews">How are these books reviewed?</a></button>
    </div>

  </div>
</div>


{% endblock %}
