{% extends 'base.html' %}


{% block title %} Homepage {% endblock %}

{% block flash %}
<!-- Show flashed messages -->
    <div class="messages">
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
          <div class="alert alert-warning">{{ message }}
            <a href="/" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
      {% endfor %}
    {% endwith %}
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">

<h1>Novel Idea</h1>
<p>The perfect app to help you BOOK up your weekend!</p>

</div></div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Books</h2>
      <p><a href="/books">Search for books</a></p>
    </div>
<!-- <h2>Users</h2>
<p><a href="/users">View all users</a></p> -->

    <div class="col-md-6">
      <h2>Genres</h2>
      <p><a href="/genres">View books by genre</a></p>
    </div>
  </div>
</div>




{% endblock %}
