{% extends 'base.html' %}


{% block title %} Login {% endblock %}


{% block content %}
<div class="jumbotron">
    <div class="container">
    <h2>Log in here!</h2>
</div></div>
<div class="container">
    <div class="row">
    <div class="col-md-8">
        <form method=POST>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div></div></div>

{% endblock %}