{% extends 'base.html' %}


{% block title %} User Profile Page {% endblock %}


{% block content %}
<hr>
<br>
Welcome {{ user.name }}!
<br>
Get a recommendation!
<button id="rec-button">DO IT</button>
<div id="rec"></div>
<br>
Here are the books you have rated so far-
<ul>
{% for rating in user.ratings if user.ratings%}
    <li>Rated the book <a href="/books/{{ rating.book.book_id }}">{{ rating.book.title }}</a>: {{ rating.score }}</li>
{% endfor %}
</ul>
<br><br>
Take the time to let us know which genres are your favorite! It'll make our recommendations better.
<br><br>
<div id="faved-genres">
{% if user.genres %}
    Some of the genres you already love are:<br>
    <!-- <ul class="fav-genre-list"> -->
        {% for genre in user.genres %}
            <button class="faved-genres">{{genre.name}}</button><br>
        {% endfor %}
    <!-- </ul> -->
    <br><br>
{% endif %}
</div>

<div id="genres">
Some genres we have books for are:<br>
    <ul class="genre-list">
    {% for genre in genres %}

        <button class="usergenre">{{genre.name}}</button>
        <br>

    {% endfor %}
    </ul>
<p>Get more genres:<br>
    <button id="back-genre-button">Back</button>
    <button id="get-genre-button">More!</button>
  </p>
</div>
{% endblock %}