{% extends 'base.html' %}


{% block title %} User Profile Page {% endblock %}

{% block flash %}
{% endblock %}

{% block content %}
<hr>
<br>
Welcome {{ user.name }}!
<br>
Get a recommendation!
<button type="button" class="btn btn-default" id="rec-button">DO IT</button>
<div id="rec"></div>
<br>
Here are the books you have rated so far-
<ul>
{% for rating in user.ratings if user.ratings%}
    <li>Rated the book <a href="/books/{{ rating.book.book_id }}">{{ rating.book.title }}</a>: {{ rating.score }}</li>
{% endfor %}
</ul>
<br><br>
Take the time to let us know which genres are your favorite! It'll make our recommendations better.
<br><br>
<div id="faved-genres" class="btn-group btn-group-lg" role="group" aria-label="Favorite Genres">
{% if user.genres %}
    Some of the genres you already love are:<br>
    <!-- <ul class="fav-genre-list"> -->
        {% for genre in user.genres %}
            <button type="button" class="btn btn-default faved-genres">{{genre.name}}</button>
        {% endfor %}
    <!-- </ul> -->
{% endif %}
</div>
<br><br>

<div id="genres" class="btn-group btn-group-lg" role="group" aria-label="Available Genres">
Some genres we have books for are:<br>
   <!--  <ul class="genre-list"> -->
    {% for genre in genres %}

        <button type="button" class="btn btn-default usergenre">{{genre.name}}</button>

    {% endfor %}
   <!--  </ul> -->
</div>
<br><br>
<div id="more-back" class="btn-group btn-group-lg" role="group" aria-label="Get More Genres">
Get more genres:<br>
    <button type="button" class="btn btn-default" id="back-genre-button">Back</button>
    <button type="button" class="btn btn-default" id="get-genre-button">More!</button>

</div>
{% endblock %}